


@font-face {
     font-family: roboto;
     src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

body{
     font-family: roboto;
}
.fonts{
     font-family: roboto !important;
     
}
 


.btn{
    border: #1C1E53 1px solid !important;
    color: #1C1E53 !important;
    background-color: whitesmoke;
}
 

.btn:hover{
     border: #0c0c0c 1px solid !important;
     background-color: #1C1E53 !important;
     color: #fffcfc !important;
}


.textcolor{
    color:#1C1E53 !important;

}


.spancolor{
      color: #1C1E53 !important;
}

.h-btn{
      border: #0c0c0c 1px solid !important;
     background-color: #1C1E53 !important;
     color: #ececf0 !important;
}

.h-btn:hover{
     background-color: #fdfdff !important;
     color: #1C1E53 !important;
     
}

.bg-c{
background-color: #F5FCFF;

.teature-icon img{
     width: 100%;
     height: 250px;
    object-fit: cover;
}


.size-box{
     width: 30% !important;
display: flex !important;

}


.margin{
     margin-top: 100px !important;
}


.margin-x{
margin: 0px 50px !important;
}


.never{
padding-left: 70px !important;
}

.fps-nav{
     font-size: 30px !important;
}

}






@media screen and (min-width:0px) and (max-width:480px){
     .con{
          justify-content: center;
          text-align: center;
          margin: auto;
}

 
.btnn{
     width: 100% !important;
     justify-content: center !important;
     align-items: center !important;
}


.icon{
     justify-content: center !important;
     align-items: center !important;
     text-align: center !important;
}
     

.rows{
     display: flex !important;
     flex-direction: column-reverse !important;
}

.fps{
     font-size: 15px !important;
}

.fhs{
     font-size: 30px !important;
}

h1{
    font-size: 30px !important;  
}

p{
   font-size: 15px !important;  
}


 
}